{
    "singleQuote": true,
    "semi": false,
    "tabWidth": 4,
    "printWidth": 120,
    "trailingComma": "all",
    "endOfLine": "auto",
    "overrides": [
        {
            "files": ["*.html"],
            "options": { "parser": "html" }
        }
    ]
}
